configuration {
    show-icons: true;

    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 drun:";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";
    font: "mono 22";
}

@theme "~/.config/rofi/catppuccin-mocha.rasi"

window {
    width: 20%;
    height: 20%;
}  


